@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.eot);
  src: url(../fonts/Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url(../fonts/Montserrat-Regular.svg#Montserrat-Regular) format('svg'),
    url(../fonts/Montserrat-Regular.woff) format('woff'),
    url(../fonts/Montserrat-Regular.woff2) format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold.eot);
  src: url(../fonts/Montserrat-Bold.eot?#iefix) format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype'),
    url(../fonts/Montserrat-Bold.svg#Montserrat-Bold) format('svg'),
    url(../fonts/Montserrat-Bold.woff) format('woff'),
    url(../fonts/Montserrat-Bold.woff2) format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url(../fonts/PlayfairDisplay-Bold.eot);
  src: url(../fonts/PlayfairDisplay-Bold.eot?#iefix) format('embedded-opentype'),
    url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
    url(../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold) format('svg'),
    url(../fonts/PlayfairDisplay-Bold.woff) format('woff'),
    url(../fonts/PlayfairDisplay-Bold.woff2) format('woff2');
  font-weight: bold;
}
