.header_kapitula {
  padding: 236px 0 200px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/prize.webp) no-repeat center top/cover;
  .kapitula-offer__title {
    max-width: 500px;
  }
  .kapitula-offer__text {
    margin: 30px 0;
    max-width: 320px;
  }
}
.kapitula-about {
  padding-top: 111px;
  span {
    font-family: 'Montserrat-bold';
  }
  h2 {
    margin-bottom: 50px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .kapitula__text {
    margin-bottom: 20px;
  }
  .row {
    margin-bottom: 100px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.laureates {
  padding: 100px 0;
  background: url(../img/nagroda.png) no-repeat center center;
  h2 {
    margin-bottom: 50px;
  }
  span {
    font-family: 'Montserrat-bold';
  }
  .laureates__text {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 991px) {
  .kapitula-about {
    .rev {
      flex-direction: column-reverse;
    }
    .row {
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  .header_kapitula {
    padding: 152px 0 116px;
    text-align: center;
    .kapitula-offer__title {
      font-size: 34px;
      max-width: 400px;
      margin: 0 auto;
    }
    .kapitula-offer__text {
      margin: 30px auto;
    }
    .kapitula__btn {
      margin: 0 auto;
    }
    .kapitula__btn_order {
      display: block;
    }
  }
  .section-title {
    font-size: 34px;
  }
  .laureates {
    background: none;
  }
}

@media (max-width: 576px) {
  .header_kapitula {
    .kapitula-offer__title {
      font-size: 30px;
    }
  }
}
